.vscode/**
.vscode-test/**
#out/test/**
#out/**/*.map
src/**
.gitignore
.gitmodules
tsconfig.json
tslint.json
*.db
*.tlog
!dbconfig.json
# webpack
#node_modules - packages in devDependencies are automatically ignored
webpack.config.js
#!node_modules/oracledb
**/*.map
.github
test/**
build.yml
precompile.js
out
