.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
tslint.json
*.db
*.tlog
!dbconfig.json
# webpack
node_modules
webpack.config.js
#!node_modules/oracledb
#!node_modules/gulp
#!node_modules/gulp-git
#!node_modules/require-dir
#!node_modules/gulp-todo
#!node_modules/gulp-cli
#!node_modules/vscode-extension-telemetry
#!node_modules/applicationinsights
#!node_modules/through2